body {
    width: 100%;
    height: 95vh;
    background: linear-gradient(rgba(0,0,0,404), rgba(0,0,0,0.514)), url("https://images.unsplash.com/photo-1501139083538-0139583c060f?q=80&w=1170&auto=format&fit=crop&ixlib=rb-4.1.0&ixid=M3wxMjA3fDB8MHxwaG90by1wYWdlfHx8fGVufDB8fHx8fA%3D%3D");
    /* background: url("./asset/clock.png"); */
    background-position: center;
    background-size: cover;
    /* background-repeat: no-repeat; */
    display: flex;
    justify-content: center;
    align-items: center;
}


.container {
    width: 100%;
    height: 95vh;
    background: url("./asset/clock.png");
    background-position: center;
    /* background-size: cover; */
    background-repeat: no-repeat;
    display: flex;
    justify-content: center;
    align-items: center;
}

.content {
    text-align: center;
}

h3 {
    background-color: rgba(255, 255, 255, 0.486);
    /* background-color: rgba(181, 220, 252, 0.692); */
    /* padding: 0px; */
    border-radius: 8px;
}